.error-indicator {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: crimson;
}

.error-indicator .error-icon {
	margin-bottom: 1rem;
	font-size: 5rem;
}

.error-indicator .boom {
	font-size: 1.7rem;
}